@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg: #ebebeb;
  --primary-text: #232323;

  --skyblue: #98a6d4;
  body {
    transition: 300ms background-color ease-in-out;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: #191716;
    --primary-text: #ededed;
    --secondary-text: #8d8888;
    --secondary-extra-text: #b1a9a9;
  }
  body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
  }
}

/* some footer styles */
footer {
  .footer-link {
    color: var(--secondary-text);
    svg {
      fill: var(--secondary-text);
    }
  }
  .footer-link:hover {
    color: var(--secondary-extra-text);
    svg {
      fill: var(--secondary-extra-text);
    }
  }
}
